@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
}

@layer utilities {
  .p-standard {
    padding: var(--space-md);
  }
  .m-standard {
    margin: var(--space-md);
  }
}




